<html>
  <body>
    <center>
      <big style="font-size:50px;font-weight:bold; ">INSURANCE PREMIUM PREDICTION </big>
        <hr>
         <form action ="{{url_for('predict')}}" method ="post">
       <b><h1>AGE OF THE PERSON : <input type="number" name='a' placeholder = "Avobe or equal 18" required = "required">
             <label for="Sex">SEX:</label>
            <select id="Sex" name="sex" required = "required">
                <option value="" disabled selected>Select option </option>
             <option value=1>Male</option><option value=0>Female</option>
            </select><br><br>
            BODY MASS INDEX (BMI) : <input type="number" name='c' placeholder = "example : 21.0" required = "required">
            CHILDREN : <input type="number" name='d' required = "required"> <br><br>
             <label for="Smoker">Smoker:</label>
                <select id="Smoker" name="smoker"  placeholder = "select" required = "required">
                 <option value="" disabled selected>Select option </option><option value=1>Yes</option><option value=0 >No</option>
             </select>
                <label for="Smoker">REGION:</label>
                <select id="Region" name="region"  placeholder = "select" required = "required">
                 <option value="" disabled selected>Select option </option>
                    <option value=0>southwest</option>
                    <option value=1 >southeast</option>
                    <option value=2 >northwest</option>
                    <option value=3 >northeast</option>
             </select></h1> <br><br><br>
       </b>
        <h1>  <button id="sub" type="submit">Calculate pemium</button></h1>
      </form>
    <br><br><h1>{{prediction_text}}</h1>

    </center>
          </body>
        </html>